<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Name">
      <ng-template ngbPanelContent>
        FAIZAN SHAKEEL
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span>&#9733; <b>NEPTUN CODE</b>  &#9733;</span>
      </ng-template>
      <ng-template ngbPanelContent>
        KZ4RE0
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Email">
      <ng-template ngbPanelContent>
        erfury@ymail.com
      </ng-template>
    </ngb-panel>
  </ngb-accordion>